<h1>Skin Assist Forgot Password</h1>
<p>Hi {{name}},</p>
<br>
<h2><u><strong>Please Dont Send Your Token To Anyone</strong></u></h2>
<p>Here is your reset token: </p>
<br>
<p><strong>{{token}}</strong></p>
<br>
<p>This token is valid for 10 minutes.</p>
<p>If you did not request a password reset, please ignore this email.</p>
<br>
<br>
<p>Thank you,</p>
<p>Skin Assist Team</p>